* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: linear-gradient(-180deg, silver, whitesmoke);
  }
  
  ::selection {
    color: #000;
    background: #fff;
  }
  
  .wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 5px;
    background: #111;
    box-shadow: 10px 10px 30px rgba(0.5, 0, 0, 0.9);
    color: #fff;
  }
  
  .wrapper header {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;
  }
  
  .wrapper form {
    margin: 40px 0 20px 0;
  }
  
  form :where(input, select, button) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #444;
    color: #fff;
  }
  
  form p {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
    border: 1px solid #999;
    background: #555;
  }
  
  form input:focus {
    padding: 0 14px;
    border: 1px solid #C0C0C0;
    background: #555;
  }
  
  form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }
  
  .drop-list .select-box {
    display: flex;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid #999;
    background: whitesmoke;
    color: #000;
  }
  
  .select-box img {
    max-width: 21px;
  }
  
  .select-box select {
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px;
    color: #000;
  }
  
  .select-box select::-webkit-scrollbar {
    width: 8px;
  }
  
 